.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}


.friend {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    
  }
  .friendData{
    font-size: 2vw;
    padding: 10px;
    /* background: gold; */
    text-align: center;
  }