.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a{
  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friend img {
    border-radius: 50px;
    padding: 5px;
    width: 40px;
}

.friend span {
    padding: 3px;
}

.friend {
    padding-top: 20px;
}