body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogsItems {
  padding: 20px;
}
.dialogsItems .active{
  color: bisque;
}
.messages{
padding: 20px;
}
.dialogsItems img {
  border-radius: 50px;
    padding: 5px;
    width: 40px;
}
